p {
    font-size: 15px;
    position: relative;
    right: 0%;
    top: -20px;
}

.ui {
    border: solid 1px rgb(141, 139, 139);
    border-radius: 1%;
    width: 87.4%;
    position: relative;
    left: 50px;
    background-color: white;
    justify-content: space-around;
    margin: 20px;
}

.content h2 {
    border-bottom: solid 1px gray;
    position: relative;
    padding: 10px 0px 10px 0px;
    margin: 0%;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.add a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 166, 255);
    border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.add a:hover {
    border-radius: 4px;
    background-color: rgb(0, 143, 252);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    margin: 20px;
}

.video-container {
    border: 1px solid rgb(226, 225, 225);
}

.image {
    width: 290px;
    height: 125px;
    border-radius: 1%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center
}

.location-card {
    position: relative;
    right: 4%;
}

.img {
    background-color: white;
}

p {
    margin: 50px 0px 0px;
}