.form {
    border: 3px solid rgb(95, 199, 255);
    border-radius: 10px;
    margin: 35px;
    width: 22%;
    height: 350px;
    background-color: white;
    position: relative;
    left: 36.2%;
}

.field {
    margin: 20px;
    font-weight: bold;
    /* text-align: left; */
}

.button input {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 166, 255);
    border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin: 5px 0px 70px;
}

.button input:hover {
    border-radius: 4px;
    background-color: rgb(0, 143, 252);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    /* margin: 5px; */
}

.field input {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 2px;
}

input {
    margin: 10px 0px 20px;
}

.img {
    background-color: white;
}
